body{
    margin: 0%;
    padding: 0%;
 background-color: #181B2E;
background-size: cover;
background-position: center;


}
.container{
    border-radius: 20px;
    color: grey;
    height: 75vh;
    width: 30%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
padding: 0 30px;
}
.img{
    height: 70px;
    width: 70px;
    background: url("nfc-logo.png");
    border-radius: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.container h1{

    color: white;
    margin-top: 50px;
}
.container p{
    color: white;
    margin-top: 50px;
    font-size: large;
}
.navbar{
    width:  85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn {
    border-radius: 15px;
    background: no-repeat;
    outline: none;
    border: 1px solid white;
    color: grey;
    width: 50%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
transition: 1s ease;
margin-top: 50px;

}
.btn:hover{
    background: grey;
    color: black;

}
.btn a {
    color: white;
    text-decoration: none;    border-radius: 15px;
    background: no-repeat;
    outline: none;
    border: none;
    width: 50%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
transition: 1s ease;
margin-top: 50px;

}
.logo{
    width: 200px;
    cursor: pointer; 
    position:absolute;
left:0;
top:0;
color: white;
}